---
layout: default
---

<div class="home">
  <div class="page-wrapper">
  <h3 class="page-heading">列表</h3>

  <ul class="post-list">
    {% for post in site.posts %}
    <div class="post-card mdl-card mdl-cell mdl-cell--12-col">
      <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">
        <div class="post-card-media mdl-card__media mdl-color-text--grey-50" style="{{ post.style }}">
          <h3>{{ post.title }}</h3>
        </div>
      </a>
      <div class="post-card-content">
        <div class="post-card-supporting-text mdl-card__supporting-text mdl-color-text--grey-600">
          {{ post.excerpt }}
        </div>
        <div class="post-card-meta mdl-card__supporting-text mdl-color-text--grey-600">
            <div><i class="material-icons">event</i><span>{{ post.date | date: "%Y年%m月%d日" }}</span>
            </div>
            <div><i class="material-icons">local_offer</i>{% for category in post.categories %}<span>{{ category }}</span>{% endfor %}
            </div>
          </div>
      </div>
    </div>
    {% endfor %}
  </ul>
  </div>
</div>
