<script type="text/javascript" src="{{ "/static/js/main.js" | prepend: site.baseurl }}"></script>
<footer class="doc-layout-footer mdl-mini-footer mdl-color--grey-900">
  <ul>
    <a href="//github.com/0x4ec7" class="social-btn-github"></a>
    <a href="mailto:0x4ec7@gmail.com" class=""> <i class="material-icons md-36 md-light">email</i>
    </a>
  </ul>
</footer>
