<header class="doc-layout-header mdl-layout__header">
  <div class="mdl-layout__header-row">
    <span class="doc-layout-title mdl-layout-title">
      <a href="/">仇之东</a>
    </span>
  </div>
  <div class="doc-navigation-container">
    <nav class="doc-navigation mdl-navigation">
      <a href="/about" class="doc-navigation-link">关于</a>
      <a href="/" class="doc-navigation-link">博客</a>
      <div class="spacer"></div>
    </nav>
  </div>
</header>
