<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="personal blog">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  
  <link rel="shortcut icon" href="{{ "/static/img/favicon.ico" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/static/css/material.min.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/static/css/syntax.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/static/css/main.css" | prepend: site.baseurl }}">

  <link href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en" rel="stylesheet">
  <!-- <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> -->

  <script type="text/javascript" src="//code.jquery.com/jquery-2.1.4.min.js"></script>
  <script>
  var _hmt = _hmt || [];
  (function() {
    var hm = document.createElement("script");
    hm.src = "//hm.baidu.com/hm.js?8e8dcd7b02468318f8b18db355e36e5d";
    var s = document.getElementsByTagName("script")[0]; 
    s.parentNode.insertBefore(hm, s);
  })();
  </script>
</head>