@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url('../font/MaterialIcons-Regular.eot'); /* For IE6-8 */
  src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url('../font/MaterialIcons-Regular.woff2') format('woff2'),
    url('../font/MaterialIcons-Regular.woff') format('woff'),
    url('../font/MaterialIcons-Regular.ttf') format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  word-wrap: normal;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'liga';
}

body {
    margin: 0;
    padding: 0;
    background-image: url('../img/bg.jpg');
    background-size: cover;
    background-attachment: fixed;
    font-family: "Microsoft Yahei" !important;
}

a, blockquote, h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto','Helvetica','Arial','Microsoft Yahei';
}

::-webkit-scrollbar {
    width: 12px;
    height: 8px;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.5);
}

.doc-layout-header {
    padding: 30px 40px 60px;
    background-color: #212121;
    opacity: 0.9;
}

.doc-layout-header>.mdl-layout__header-row {
    padding: 0;
    margin: 0 0 10px;
    height: auto;
}

.doc-layout-header .doc-layout-title a{
    color: #FFF;
    text-decoration: none;
    text-transform: uppercase;
    line-height: 1.5em;
    font-size: 29px;
}

.doc-layout-footer {
    opacity: 0.9;
    color: white;
    min-height: 32px;
    margin-bottom: 0px;
}

.doc-layout-footer ul{
    margin: 0 auto;
    padding: 0;
}

.doc-layout-footer ul a{
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0 16px;
    width: 24px;
    height: 24px;
    cursor: pointer;
    color: white;
    display: inline-block;
}

.social-btn-github {
    background-image: url('../img/github-white-icon.png');
}

.doc-navigation-container{
    overflow: hidden;
    position: absolute;
    height: 64px;
    width: 100%;
    right: 0;
}

.doc-navigation {
    box-shadow: none !important;
    border: 0 !important;
    width: 100%;
    height: 60px;
    padding: 0 16px 0 24px;
    margin-bottom: -20px;
    overflow-x: auto;
    overflow-y: hidden;
}

.doc-navigation .doc-navigation-link{
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 60px;
    padding: 0 16px;
    color: #BFBFBF;
    border-bottom: 2px solid transparent;
    opacity: 0.7;
}

.indicator, .doc-navigation-link:hover{
    color: #FFF;
}

.home {
    max-width: 960px;
    margin: 0 auto;
}

.page-wrapper {
    margin: 40px 30px 80px;
}

.page-heading {
    padding: 0 8px;
    color: #263238;
}

.post-list {
    padding: 0;
}

.post-card {
    margin-bottom: 20px;
}

.post-card a {
    text-decoration: none;
}

.post-card-media {
    background-size: cover;
    padding: 24px;
    background-origin: padding-box;
    background-attachment: scroll;
    background-color: #263238;
    background-repeat: repeat;
    background-position: 50% 50%;
    font-size: 16px;
    font-weight: 400;
    min-height: 220px;
}

.post-card-media h3 {
    font-size: 34px;
    line-height: 40px;
    margin-top: 100px;
}

.post-card-supporting-text {
    /*margin: 0 auto;*/
    width: auto;
    font-size: 16px;
}

.post-card-content {
    padding: 16px 24px;
}

.post-card-meta{
    /*margin: 0 auto;*/
    width: auto;
    font-size: 16px;
}

.post-card-meta div {
    display: inline-block;
    min-width: 180px;
}

.post-card-meta div span{
    line-height: 1.45;
    padding: 0 6px;
    vertical-align: top;
}

.post-content {
    padding: 24px;
}

.post {
    padding: 120px 0 30px;
}

.post .back {
    position: fixed;
    top: 16px;
    left: 16px;
    width: 32px;
    height: 32px;
    color: white;
    z-index: 1000;
}

.post .back a:hover{
    background-color: white;
    color: black;
}

.post-layout {
    width: 960px;
    margin: 0 auto;
}

.post-content-meta{
    margin: 0 auto;
    font-size: 16px;
    padding: 10px 16px;
}

.post-content-meta div {
    display: inline-block;
    min-width: 180px;
}

.post-content-meta div span{
    line-height: 1.45;
    padding: 0 6px;
    vertical-align: top;
}

.post-content-content {
    margin: 0 auto;
    font-size: 16px;
    padding: 10px 16px;
}

.post-content-content a{
    color: #616161;
}

.post-content-content>p{
    margin: 3px 20px;
}

.post-content-content ol, .post-content-content ul{
    margin: 8px 0;
    padding: 0 0 0 20px;
}

.post-content-content ol li, .post-content-content ul li {
    font-weight: bold;
}

.post-content-content blockquote {
    font-style: normal;
    font-weight: bold;
    border: none;
    border-bottom: 2px solid #ccc;
    padding: 10px 0 2px 0;
}

.post-content-content blockquote p{
    font-weight: bold;
    font-size: 16px;
}

.post-content-content table {
    margin: 3px 20px;
    font-size: 14px;
    border-collapse: collapse;
}

.post-content-content th, .post-content-content td {
    border: 1px solid #CCC;
    padding: 2px 5px;
}

.post-nav {
    width: 960px;
    margin: 0 auto;
    padding: 15px 30px 0;
}

.post-nav button{
    float: right;
    transform: rotate(90deg);
    color: white !important;
    background-color: transparent !important;
}

.post-nav button:hover{
    color: black !important;
    background-color: white !important;
}

.about {
    min-height: 540px;
    height: auto;
    margin: 0;
}

.about-content {
    background-color: #FAFAFA;
    padding: 0 50px;
}

.about-nav-link {
    color: #424242 !important;
    height: 28px;
}

.about-nav-link i{
    font-size: 28px;
}

.about-nav-link span{
    position: absolute;
    font-size: 14px;
    margin: 6px 12px;
}

blockquote {
    font-size: 16px;
    margin: 0;
    padding: 8px 20px;
    border-left: 5px solid #CCC;
}

blockquote span {
    margin: 1px 20px;
    vertical-align: top;
}

blockquote p {
    margin: 8px 0 0;
}

blockquote:before, blockquote:after {
    content: none;
}

.about-block {
    margin-bottom: 50px;
    border-top: 3px solid #424242;
}

.about-block:first-child {
    border-top: none;
}

.about-block-title {
    display: inline-block;
    padding: 0 0 12px 0;
}

.about-block-title h5{
    display: inline;
    margin: 0 20px;
}

.about-block a, .about-block span{
    font-size: 16px;
    line-height: 1.45;
    margin: 2px 10px;
    color: #424242;
    display: inline;
    vertical-align: top;
}

.about-block-item {
    margin: 12px 0;
}

.about-block .skill-list {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
}

.skill-list .skill-wrapper {
    height: 120px;
    width: 100px;
    margin: 10px 40px;
}

.skill-list p {
    margin: 8px 0;
    font-weight: 20;
}

#skills h4 {
    border-bottom: 1px solid #424242;
}

.more-item{
    margin: 15px 0;
}

.more-item a{
    text-decoration: none;
}
