---
layout: default
---
<div>
  <div class="about mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--overlay-drawer-button">
    <div class="about-nav mdl-layout__drawer">
      <nav class="about-nav-wrapper mdl-navigation">
        <a class="about-nav-link mdl-navigation__link" href="#profile"> <i class="material-icons">person</i>
          <span>Profile</span>
        </a>
        <a class="about-nav-link mdl-navigation__link" href="#education"> <i class="material-icons">school</i>
          <span>Education</span>
        </a>
        <a class="about-nav-link mdl-navigation__link" href="#experience">
          <i class="material-icons">directions_run</i>
          <span>Experience</span>
        </a>
        <a class="about-nav-link mdl-navigation__link" href="#skills">
          <i class="material-icons">star</i>
          <span>Skills</span>
        </a>
        <a class="about-nav-link mdl-navigation__link" href="#more">
          <i class="material-icons">add</i>
          <span>More</span>
        </a>
      </nav>
    </div>
    <main class="about-content mdl-layout__content" id="profile">
      <div class="about-block">
        <div>
          <h1>仇之东</h1>
          <h5>配置管理工程师</h5>
        </div>
        <div>
          <blockquote>
            <i class="material-icons">phone</i>
            <span>+86 155 0102 0397</span>
          </blockquote>
          <blockquote>
            <i class="material-icons">email</i>
            <span>0x4ec7@gmail.com</span>
          </blockquote>
          <blockquote>
            <i class="material-icons">home</i>
            <span>北京市朝阳区</span>
          </blockquote>
        </div>
      </div>
      <div class="about-block" id="education">
        <h2>Education</h2>
        <div class="about-block-title">
          <img src="../static/img/bistu.png">
          <h5>北京信息科技大学 (2010.09 - 2014.07)</h5>
        </div>
        <div class="about-block-item">
          <i class="material-icons">public</i>
          <a href="//www.bistu.edu.cn" target="_blank">http://www.bistu.edu.cn</a>
        </div>
        <div class="about-block-item">
          <i class="material-icons">check</i>
          <span>通信工程学士学位</span>
        </div>
        <div class="about-block-item">
          <i class="material-icons">label</i>
          <span>
            专业方向为移动互联网，在校期间参加了悦成的Android开发培训，和同学一起完成了一些小项目，并积极参加实习。另外，我的毕业设计也是一个Android项目。
          </span>
        </div>
      </div>
      <div class="about-block" id="experience">
        <h2>Experience</h2>
        <div class="about-block-title">
          <img src="../static/img/ericsson.png">
          <h5>爱立信（中国）通信有限公司 (2014.07 - )</h5>
        </div>
        <div class="about-block-item">
          <i class="material-icons">public</i>
          <a href="//www.ericsson.com/cn" target="_blank">http://www.ericsson.com/cn</a>
        </div>
        <div class="about-block-item">
          <i class="material-icons">account_box</i>
          <span>配置管理工程师</span>
        </div>
        <div class="about-block-item">
          <i class="material-icons">label</i>
          <span>
            为部门开发内部管理网站，改变传统的工作方式，使管理更加高效。编写脚本，使部分工作自动化，将重复的工作交给机器，减轻同事们的工作负担。
          </span>
        </div>
      </div>
      <div class="about-block" id="skills">
        <h2>Skills</h2>
        <h4>Basic</h4>
        <div class="skill-list">
          <div class="skill-wrapper">
            <img src="../static/img/html5.png">
            <p>HTML5</p>
          </div>
          <div class="skill-wrapper">
            <img src="../static/img/css3.png">
            <p>CSS3</p>
          </div>
          <div class="skill-wrapper">
            <img src="../static/img/javascript.png">
            <p>Javascript</p>
          </div>
          <div class="skill-wrapper">
            <img src="../static/img/jquery.png">
            <p>jQuery</p>
          </div>
          <div class="skill-wrapper">
            <img src="../static/img/linux.png">
            <p>Linux</p>
          </div>
          <div class="skill-wrapper">
            <img src="../static/img/apache.png">
            <p>Apache</p>
          </div>
          <div class="skill-wrapper">
            <img src="../static/img/mysql.png">
            <p>MySQL</p>
          </div>
          <div class="skill-wrapper">
            <img src="../static/img/php.png">
            <p>PHP</p>
          </div>
          <div class="skill-wrapper">
            <img src="../static/img/java.png">
            <p>JAVA</p>
          </div>
          <div class="skill-wrapper">
            <img src="../static/img/android.png">
            <p>Android</p>
          </div>
          <div class="skill-wrapper">
            <img src="../static/img/ai.png">
            <p>Adobe Illustrator</p>
          </div>
          <div class="skill-wrapper">
            <img src="../static/img/ps.png">
            <p>Adobe Photoshop</p>
          </div>
        </div>
        <h4>Advanced</h4>
        <div class="skill-list">
          <div class="skill-wrapper">
            <img src="../static/img/postgresql.png">
            <p>PostgreSQL</p>
          </div>
          <div class="skill-wrapper">
            <img src="../static/img/extjs.png">
            <p>Ext JS</p>
          </div>
          <div class="skill-wrapper">
            <img src="../static/img/bootstrap.png">
            <p>Bootstrap</p>
          </div>
          <div class="skill-wrapper">
            <img src="../static/img/git.png">
            <p>Git</p>
          </div>
          <div class="skill-wrapper">
            <img src="../static/img/github.png">
            <p>Github</p>
          </div>
          <div class="skill-wrapper">
            <img src="../static/img/sublime.png">
            <p>Sublime Text</p>
          </div>
        </div>
        <h4>Experienced</h4>
        <div class="skill-list">
          <div class="skill-wrapper">
            <img src="../static/img/python.png">
            <p>Python</p>
          </div>
          <div class="skill-wrapper">
            <img src="../static/img/django.png">
            <p>Django</p>
          </div>
        </div>
      </div>
      <div class="about-block" id="more">
        <h2>More</h2>
        <blockquote class="more-item">
          <img src="../static/img/github-icon.png">
          <a href="//github.com/0x4ec7" target="_blank">http://github.com/0x4ec7</a>
        </blockquote>
        <blockquote class="more-item">
          <img src="../static/img/stackoverflow-icon.png">
          <a href="//stackoverflow.com/users/4864555/仇之东" target="_blank">http://stackoverflow.com/users/4864555/仇之东</a>
        </blockquote>
        <blockquote class="more-item">
          <img src="../static/img/zhihu-icon.png">
          <a href="//www.zhihu.com/people/zhidong.qiu" target="_blank">http://www.zhihu.com/people/zhidong.qiu</a>
        </blockquote>
        <blockquote class="more-item">
          <img src="../static/img/weibo-icon.png">
          <a href="//weibo.com/u/1765755864" target="_blank">http://weibo.com/u/1765755864</a>
        </blockquote>
        <blockquote class="more-item">
          <img src="../static/img/qq-icon.png">
          <span>83831295</span>
        </blockquote>
      </div>
    </main>
  </div>
</div>