---
layout: article-default
---
<div class="post">
  <div class="back">
    <a class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" href="/" title="返回列表" data-upgraded=",MaterialButton,MaterialRipple">
      <i class="material-icons">arrow_back</i>
      <span class="mdl-button__ripple-container"><span class="mdl-ripple is-animating"></span></span></a>
  </div>

  <div class="page-wrapper">

  <div class="mdl-grid">
    <div class="post-layout mdl-card mdl-shadow--4dp mdl-cell mdl-cell--12-col">
      <div class="post-card-media mdl-card__media mdl-color-text--grey-50" style="{{ page.style }}">
        <h3>{{ page.title }}</h3>
      </div>
      <div class="post-content">
        <div class="post-content-meta mdl-card__supporting-text meta">
          <div><i class="material-icons">event</i><span>{{ page.date | date: "%Y年%m月%d日" }}</span></div>
          <div><i class="material-icons">local_offer</i>{% for category in page.categories %}<span>{{ category }}</span>{% endfor %}</div>
        </div>
        <div class="post-content-content mdl-card__supporting-text">{{ content }}</div>
      </div>
      </div>

      <nav class="post-nav mdl-color-text--grey-50 mdl-cell mdl-cell--12-col" style="display:inline-block">
        <a href="#" title="返回顶部">
          <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon mdl-color--white mdl-color-text--grey-900" data-upgraded=",MaterialButton,MaterialRipple"> <i class="material-icons">arrow_back</i>
          </button>
        </a>
      </nav>


  </div>

  </div>
</div>
